.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  font-size: 24px;
  margin-bottom: 40px;
}

.startButton {
  background-color: green;
  color: white;
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: darkgreen;
}
